<h1>Welcome to the Rock-Paper-Scissors Game!</h1>
<p>This game can be played by two players, and each one has to choose between Rock, Paper and Scissors.</p>
<p>Press New Game to Start a Game!</p>
<p>Good Luck!</p>